<!-- <div class="container">
  <h1>Product Editor</h1>
  <hr>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Product Name" id="productName" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Which product category?" id="category" [(ngModel)]="product.category" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-row">
      <div class="col">
        <button type="button" class="btn btn-success" (click)="add()">Add</button>
      </div>
      <div class="col">
          <button type="button" class="btn btn-danger" (click)="delete(products.name)">Delete</button>
      </div>
    </div>

    <br>

    <ul class="list-group">
      <li *ngFor="let product of products" class="list-group-item">
        <span> {{ product.name }} </span>
      </li>
    </ul>
  </form>
</div> -->

<div class="container">
    <h1>Product Editor</h1>
    <hr>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Product Name" name="productName" #nameInput [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Which product category?" name="category" #catInput [(ngModel)]="product.category">
      </div>
      <div class="form-row">
        <div class="col">
          <button type="button" class="btn btn-success" (click)="add()">Add</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" (click)="delete(products.name)">Delete</button>
        </div>
      </div>
  
      <br>
  
      <ul class="list-group">
        <li *ngFor="let product of products" class="list-group-item">
          <span> {{ product.name }} </span>
        </li>
      </ul>
    </form>
  </div>