<section>
    <h1>List Product</h1>

    <div class="container">
      <table class="table table-sm table-striped">
          <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Price</th>
              <th></th>
          </tr>
          <tr *ngFor="let product of products">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>   
              <td>{{product.price}}</td>
              <td>
                <a [routerLink]="['/products', product.id]">
                  View Detail
                </a>
              </td>         
          </tr>
      </table>
   </div>
</section>