<main class="container">
    <div class="row">
        <div class="col-3">
            <h2>Category List</h2>
            <cart-summary></cart-summary>
            <button 
                *ngFor="let cat of categories"
                class="btn btn-outline-primary btn-block"
                (click)="updateCategory(cat)"
            >{{cat || 'All'}}</button>
        </div>
        <div class="col-9">
            <app-product-list [category]="selectedCategory"></app-product-list>
        </div>
    </div>
 </main>