<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
        <div class="container">
        <a class="navbar-brand" [routerLink]='["/"]'>Online Shopping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
            <ul class="navbar-nav flex-grow">
                <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
                </li>
                <!-- <li>
                    <p *ngIf="loggedIn">Signed in user: {{ getSignedInUser().userName }}</p>
                </li> -->

                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link text-dark" [routerLink]="['store']">Store</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Product Admin
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['products/new']">New Product</a>
                        <a class="dropdown-item" [routerLink]="['products']">List Products</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Test Only
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['test/products']">Test Products</a>
                        <a class="dropdown-item" [routerLink]="['test/account']">Test Account</a>
                    </div>
                </li>                            
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Sign In/Up
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['signin']">Sign In</a>
                        <a class="dropdown-item" [routerLink]="['signup']">Sign Up</a>
                        <a class="dropdown-item" [routerLink]="['users']">List Users</a>
                    </div>
                </li>              
            </ul>
        </div>
        </div>
    </nav>
</header>
